<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0/EN"
        "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
    <typeAliases>
        <typeAlias alias="todoVO" type="org.zerock.demo.todo.vo.TodoVO"/>
        <typeAlias alias="todoDTO" type="org.zerock.demo.todo.dto.TodoDTO"/>
    </typeAliases>
</configuration>